src/web/static/HiH_projekt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Tatry">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="geneza_nazwy" type="xs:string" />
				<xs:element name="o_mnie">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="imie" type="xs:string" />
							<xs:element name="nazwisko" type="xs:string" />
							<xs:element name="data_urodzenia" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="historia">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="czlowiek">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="czlowiek">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="tytul" type="xs:string" />
													<xs:element name="opis" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="era" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="zwierzeta">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="sarna_europejska">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="tytul" type="xs:string" />
													<xs:element name="opis" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="lis_rudy">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="tytul" type="xs:string" />
													<xs:element name="opis" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="niedzwiedz_brunatny">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="tytul" type="xs:string" />
													<xs:element name="opis" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="orzel_przedni">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="tytul" type="xs:string" />
													<xs:element name="opis" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="dinozaury">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="tytul" type="xs:string" />
													<xs:element name="opis" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="era" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="góry">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="tatry">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="tatry_wysokie">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tytul" type="xs:string" />
																<xs:element name="opis" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="0" name="tatry_bielskie">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tytul" type="xs:string" />
																<xs:element name="opis" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="0" name="tatry_zachodnie">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tytul" type="xs:string" />
																<xs:element name="opis" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="czesc" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="typ_bio" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="galeria">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="miejsca">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="zdjecie">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="sciezka" type="xs:string" use="required" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="zwierzeta">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="zdjecie">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="sciezka" type="xs:string" use="required" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="informacje">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="linki">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="link">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="sciezka" type="xs:string" use="required" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="wejsciowki">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="bilet">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="bilet_normalny">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="jednorazowy">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="cena" type="xs:decimal" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="tygodniowy">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="cena" type="xs:unsignedByte" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="0" name="bilet_ulgowy">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="jednorazowy">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="cena" type="xs:decimal" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="tygodniowy">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="cena" type="xs:decimal" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="znizka" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>